<div class="col-md-10 col-md-offset-2">
  <ul class="list-group">
    <li class="list-group-item">
      <p style="margin-bottom: 0;" class="lead">People you follow</p>
    </li>
    <li class="list-group-item" ng-repeat="userid in userIDs">
      <div class="row">
        <div class="col-sm-9">
          <h4 class="list-group-item-heading">
            <p class="list-group-item-text">
              <p class="text-muted">{{userid}}</p>
            </p>
          </h4>
        </div>
      </div>
    </li>
  </ul>
</div>

<div class="col-md-10 col-md-offset-2">
  <ul id="nonFollowList" class="list-group">
    <li class="list-group-item">
      <p style="margin-bottom: 0;" class="lead">All users in system</p>
    </li>
    <li class="list-group-item" ng-repeat="userid in nonFollowUserIDs">
      <div class="row">
        <div class="col-sm-9">
          <h4 class="list-group-item-heading">
            <p class="list-group-item-text">
            <p class="text-muted">{{userid}}</p>
            </p>
          </h4>
        </div>
        <div style="padding-top: 3px; padding-bottom: 3px;" class="col-sm-3">
          <form id="followForm">
            <button id={{userid}} type="submit" class="btn btn-default pull-right">Follow</button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>
