<div class="col-md-12">
  <ul class="list-group">
    <li class="list-group-item">
        <p><textarea id="tweetMsg" name="tweet[text]" placeholder="What's happening?" rows="3" class="form-control"></textarea></p>
        <p><button id="postTweet" type="submit" class="btn btn-info pull-right">Tweet</button></p>
        <div class="clearfix"></div>
    </li>
    <li class="list-group-item" ng-repeat="tweet in tweets">
      <p class="list-group-item-heading">
      <p class="text-gray-dark"><span class="text-muted">@kk</span></p>
      <p style="word-wrap: break-word;" class="list-group-item-text">{{tweet}}</p>
    </li>
  </ul>
  <nav><ul class="pager"></ul></nav>
</div>

